body{
    background-color: cornflowerblue;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title{
    text-align: center;
    color:rgb(0, 0, 99);
}

.card{
    border: 2px solid black;
    margin: 25px;
    text-align: center;
    border-radius: 50px 50px 25px 25px;
    color:darkblue;
    background-color: antiquewhite;
    font-size: larger;
}